<div class="container-fulid">
<div class="row">
<div class="col-md-12 text-center my-4 mx-4">

<h2>プロフィール編集</h2>


<%= form_with model:@user, local:true do |f| %>

  <div><%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "20200501_noimage.jpg", size: '200x200'%></div>
  <div>ProfileImage</div>
  <div><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></div>

  <div>Name</div>
  <div><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%></div>
  <div><%= f.submit "変更を保存" %></div>
<% end %>

</div>
</div>
</div>