<div class='container px-5 px-sm-0'>
<div class='row'>

<div class='col-md-12'>
<div class="profile-container">
<h3 class="profile-name"><%= @user.name %></h3>
 <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, format: 'jpeg', fallback: "20200501_noimage.jpg", size: '100x100', class: "rounded-circle" %>
<div class= "my-4"><%= @user.introduction %></div>

<% if @user.id == current_user.id %>
<p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>
</div>
</div>

<% @photos.each do |photo| %>
<div class="col-md-3.5 mt-2 mx-4">
<div>
  <%= link_to photo_path(photo.id) do %>
  <%= attachment_image_tag photo, :image, :fill, 300, 300, format: 'jpeg', fallback: '20200501_noimage.jpg', size: '300x300', class: "rounded" %>
  <% end %>
  <p>名前:<%= photo.name %></p>
  <p>説明:<%= render_with_hashtags(photo.caption) %></p>
  <p>ユーザーネーム：<%= photo.user.name %></p>
</div>

<%# pageメソッドで全ての投稿が表示されないように %>
<%= paginate @photos %>

 </div>
 <% end %>
 </div>
</div>
