

<% @photos.each do |photo| %>

<%= render_with_hashtags(photo.caption) %>
<div>
  <%= link_to photo_path(photo) do %>
  <%= attachment_image_tag photo, :image, :fill, 100, 100, format: 'jpeg', fallback: 'noimage.jpg', size: '300x300', class: "rounded"%>
  <% end %>

  <p>名前：<%= photo.name %></p>
  <p>説明：<%= photo.caption %></p>
  <p>ユーザーネーム：<%= photo.user.name %></p>
</div>
<% end %>


