<div class="container">
<div class="row text-center my-3 mx-3">
<div class="col-md-12 mx-auto">
<h3 class="my-3">New Post</h3>

<div class="card text-center mx-auto" style="width: 30rem;">
<div class="card-body">

<%= form_with model: @photo, local:true do |f| %>
<div class="my-3 h5">Image</div>
<div class="my-3"><%= f.attachment_field :image %></div>
<div class="my-3">商品名</div>
<div class="my-3"><%= f.text_field :name, size: "25x5" %></div>
<div class="my-3">#タグ</div>
<div class="my-3"><%= f.text_area :caption, size: "25x3" %></div>
<div class="my-3">カテゴリ</div>
<div class="my-3"><%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %></div>
<div class="my-3"><%= f.submit '投稿', class:"btn btn-outline-info" %></div>


</div>
</div>
<% end %>


</div>
</div>
</div>
</div>